/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
  }

body{
    background-color: #fff8ee;
}

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1; /* Pousse le footer vers le bas */
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
        
  
/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Application des animations */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}