###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=changeme
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Exemple pour PostgreSQL
DATABASE_URL=postgresql://app:password@127.0.0.1:5432/app?serverVersion=16&charset=utf8
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
