<footer>
    <div id="container-1-footer">
      <ul id="list-footer">
        <a id="footer-link" href="/terms">
          <li>À propos de nous</li>
        </a>
        <a id="footer-link" href="/terms">
          <li>Conditions générales</li>
        </a>
        <a id="footer-link"  href="mailto:alexis.callet@free.fr">
          <li>Nous contacter</li>
        </a>
      </ul>
    </div>
    <div id="container-2-footer">
      <p> Author : <a href="mailto:alexis.callet@free.fr">Alexis CALLET</a></p>
      <p> Copyright 2025 © Tous droits réservés</p>
    </div>
  </footer>