<header>
  <div id="container-1-header">
    <a href="/">
      <img id="logo-header" alt="logo-taskr" src="img/logotaskr.png" />
    </a>
  </div>
  <div id="container-2-header">
    <ul id="list-header">
      <a id="link" href="#">
        <li *ngIf="isAuthenticated">Accueil</li>
      </a>
      <li *ngIf="isAuthenticated">Mon profil</li>
      <li *ngIf="isAuthenticated">Gérer mes tâches</li>
      
      <!-- Afficher le lien de connexion uniquement si l'utilisateur n'est pas authentifié -->
      <a id="link" href="/login" *ngIf="!isAuthenticated"> 
        <li>Veuillez vous connecter pour accéder à TaskR</li>
      </a>

      <!-- Afficher le bouton de déconnexion si l'utilisateur est connecté -->
      <a id="link" href="#" *ngIf="isAuthenticated" (click)="logout()">
        <li>Se déconnecter</li>
      </a>
    </ul>
  </div>
</header>
