/*
HEADER
HEADER
HEADER
*/

header {
    background-color: #fff8ee;
    text-align: center;
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: stretch;
    font-size: larger;
  }
  
  #container-1-header {
    width: 100%;
    position: relative;
    background-color: #fff8ee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
    #container-2-header {
      width: 100%;
      position: relative;
      background-color: #855732a4;
      padding: 15px;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      clip-path: ellipse(100% 90% at 50% 0%);
      height: 100px;
    }
  #login-link{
    text-decoration: none;
    color: inherit;
  }
  #list-header {
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 30px; /* Espace entre les items */
    margin: 0;
    padding: 0;
  }

  #list-header li {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  #list-header li:hover {
    color: #f7c791; /* Couleur au survol */
  }